general {
  output_format = "i3bar"
  colors        = false
  interval      = 5
}

order += "disk /"
order += "wireless _first_"
order += "ethernet _first_"
order += "battery all"
order += "load"
order += "cpu_usage"
order += "tztime date"
order += "tztime time"

disk "/" {
  format = "📦 %avail"
}

wireless _first_ {
  format_up   = "📱%quality %ip"
  format_down = ""
}

ethernet _first_ {
  format_up   = "📞 %ip"
  format_down = ""
}

battery all {
  last_full_capacity       = true
  integer_battery_capacity = true
  format                   = "🔋 %status%percentage"
  status_unk               = "→"
  status_bat               = "⬇️"
  status_chr               = "⬆️"
  status_full              = "→"
}

load {
  format = "🚥 %1min"
}

cpu_usage {
  format = "🙍 %usage"
}

tztime date {
  format = "🌞 %a %-m.%d"
}

tztime time {
  format = "🌍 %H:%M"
}
