# mod is logo key
set $mod Mod4

#  vi direction keys
set $left  h
set $down  j
set $up    k
set $right l

# apps
set $terminal alacritty
set $browser google-chrome-stable
set $launcher rofi -show app -theme-str '#prompt { enabled: false; }' -modi app:apps

# workspaces
set $one   一
set $two   二
set $three 三
set $four  四
set $five  五
set $six   六
set $seven 七
set $eight 八
set $nine  九
set $ten   十

# colors
set $white #FFFFFFFF 
set $black #000000FF 
set $dark  #00000055
set $light #FFFFFF55
set $clear #00000000
set $note  #A6A8D3FF

# gap size
set $gap 10

# black background
output * background ~/.wallpaper fit "#000000"

# gaps
gaps inner $gap

# 1px window borders
default_border pixel 1

set $lock swaylock

exec swayidle -w                            \
  timeout 300 $lock                         \
  timeout 600 'swaymsg "output * dpms off"' \
  resume 'swaymsg "output * dpms on"'       \
         before-sleep $lock

input "1:1:AT_Translated_Set_2_keyboard" {
  xkb_options "ctrl:nocaps, shift:both_capslock_cancel"
}

input "2:7:SynPS/2_Synaptics_TouchPad" {
  natural_scroll enabled
}

# start terminal
bindsym $mod+Return exec $terminal

# start browser
bindsym $mod+Shift+Return exec $browser

# kill focused window
bindsym $mod+Shift+q kill

# lock
bindsym $mod+BackSpace exec $lock

# start launcher
bindsym Ctrl+Space exec $launcher

# drag with mod
floating_modifier $mod normal

# reload configuration
bindsym $mod+Shift+c reload

# screenshot
bindsym $mod+Print exec screenshot

# toggle mute
bindsym XF86AudioMute exec amixer set Master toggle

# toggle microphone
bindsym XF86AudioMicMute exec amixer set Capture toggle

# lower volume
bindsym XF86AudioLowerVolume exec pactl set-sink-volume 0 -10%

# raise volume
bindsym XF86AudioRaiseVolume exec pactl set-sink-volume 0 +10%

# exit
bindsym $mod+Shift+e exec \
  swaynag -t default -m 'Exit?' \
    --button '🙆' 'swaymsg exit' \
    --dismiss-button '🙅'

# enter resize mode
bindsym $mod+r mode "resize"

# move focus
bindsym $mod+$left focus left
bindsym $mod+$down focus down
bindsym $mod+$up focus up
bindsym $mod+$right focus right
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+$left move left
bindsym $mod+Shift+$down move down
bindsym $mod+Shift+$up move up
bindsym $mod+Shift+$right move right
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# switch workspace
bindsym $mod+1 workspace 1:$one
bindsym $mod+2 workspace 2:$two
bindsym $mod+3 workspace 3:$three
bindsym $mod+4 workspace 4:$four
bindsym $mod+5 workspace 5:$five
bindsym $mod+6 workspace 6:$six
bindsym $mod+7 workspace 7:$seven
bindsym $mod+8 workspace 8:$eight
bindsym $mod+9 workspace 9:$nine
bindsym $mod+0 workspace 10:$ten

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1:$one
bindsym $mod+Shift+2 move container to workspace 2:$two
bindsym $mod+Shift+3 move container to workspace 3:$three
bindsym $mod+Shift+4 move container to workspace 4:$four
bindsym $mod+Shift+5 move container to workspace 5:$five
bindsym $mod+Shift+6 move container to workspace 6:$six
bindsym $mod+Shift+7 move container to workspace 7:$seven
bindsym $mod+Shift+8 move container to workspace 8:$eight
bindsym $mod+Shift+9 move container to workspace 9:$nine
bindsym $mod+Shift+0 move container to workspace 10:$ten

# horizontal split
bindsym $mod+b splith

# vertical split
bindsym $mod+v splitv

# stacking layout
bindsym $mod+s layout stacking

# tabbed layout
bindsym $mod+w layout tabbed

# toggle split
bindsym $mod+e layout toggle split

# fullscreen
bindsym $mod+f fullscreen

# toggle tiling and floating
bindsym $mod+Shift+space floating toggle

# swap focus between tiling area and floating area
bindsym $mod+space focus mode_toggle

# focus parent container
bindsym $mod+a focus parent

# move window to scratchpad
bindsym $mod+Shift+minus move scratchpad

# show next scratchpad window or hide focused scratchpad window.
bindsym $mod+minus scratchpad show

# resize mode
mode "resize" {
  bindsym $left resize shrink width 10px
  bindsym $down resize grow height 10px
  bindsym $up resize shrink height 10px
  bindsym $right resize grow width 10px
  bindsym Left resize shrink width 10px
  bindsym Down resize grow height 10px
  bindsym Up resize shrink height 10px
  bindsym Right resize grow width 10px
  bindsym Return mode "default"
  bindsym Escape mode rdefault"
}

# window colors
client.focused   $white $white $black  $white $white
client.unfocused $dark  $dark  $white  $dark  $dark

# bar
bar {
  position top

  gaps $gap

  status_command i3status

  font "Monospace" 10

  strip_workspace_numbers yes

  separator_symbol "  "

  colors {
    background $dark
    statusline $white

    focused_workspace  $dark $white $dark
    inactive_workspace $dark $dark  $white
    active_workspace   $dark $note  $white
    urgent_workspace   $dark $note  $white
  }
}

# load xresources
exec xrdb ~/.xresources/*

# include system defaults
include /nix/store/4gzkmxwr28njcdhvikv05mn7hdvk6akd-sway-1.0-rc3/etc/sway/config.d/*
